.Division {
  margin: 0.6vw 0;
}

.Division-at-start-of-tier {
  margin: 4.5vw 0 0.6vw;
}

.Division table {
  border-spacing: 0px;
}

.Divison-actions button {
  background: white;
  border: 1px solid black;
  color: #1f325a;
  margin: 0px 5px;
  border-radius: 4px;
  padding: 4px;
  float: right;
}

.Division th {
  font-weight: 500;
  background-color: #20325a;
  color: white !important;
}

.Division-Gold th {
  font-weight: 500;
  background-color: #d4af37;
  color: white !important;
}

.Division-Silver th {
  font-weight: 500;
  background-color: #a0a0a0;
  color: white !important;
}

.Division-Bronze th {
  font-weight: 500;
  background-color: #cd7f32;
  color: white !important;
}

.Division-Beginner th {
  font-weight: 500;
  background-color: #009d94;
  color: white !important;
}

.Division-row-headings th,
.Division-title,
.Player-main-row td {
  padding: 0.6vw 0.3vw;
}

/* A div container to allow the header to be split horizontally into text and sort arrow */
.Header-sortable-inner {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Sort-arrow {
  margin: auto;
}

.Division .Header-sorted-by .Sort-arrow {
  visibility: visible;
}

.Division .Header-sortable .Sort-arrow {
  visibility: visible;
}

.Division .Header-sorted-by {
  background-color: #65769a;
  height: 100%;
}

.Division-Gold .Header-sorted-by {
  background-color: #d8cf97;
  height: 100%;
}

.Division-Silver .Header-sorted-by {
  background-color: #c0c0c0;
  height: 100%;
}

.Division-Bronze .Header-sorted-by {
  background-color: #da7;
  height: 100%;
}

.Division-Beginner .Header-sorted-by {
  background-color: #3bb;
  height: 100%;
}

.Division .Header-sortable:hover {
  background-color: #3c507b;
  height: 100%;
}

.Simulation-data-cell {
  border-bottom: 0px solid rgb(207, 231, 245);
}

.Division .Player-main-row {
  text-transform: uppercase;
  font-weight: 500;
}

.Division .No-wrap {
  white-space: nowrap;
}

.Division-title {
  text-align: center;
  font-size: 1.5vw;
  font-weight: 500;
}

.Extra-padding-left {
  padding-left: 10px !important;
}
