.Player-advanced-stats {
  text-align: left;
  padding: 0.7vw 4vw 1.2vw !important;
}

.Player-advanced-stats h4 {
  text-align: center;
  margin: 0;
}

.Player-advanced-stats th,
.Player-advanced-stats td {
  padding: 0 0.6vw !important;
}

.Player-advanced-stats table {
  margin-left: 3vw;
}

.Stats-win-chance {
  background: #ffec34;
}
.Stats-auto-promo {
  background: #7dcc7d;
}
.Stats-playoff-promo {
  background: #a3e9a3;
}
.Stats-unchanged {
  background: #cee7f6;
}
.Stats-playoff-relegation {
  background: #edafaf;
}
.Stats-auto-relegation {
  background: #f16565;
}
