.Player-advanced-stats {
  text-align: left;
  padding: 0 4vw !important;
}

.Player-advanced-stats h4 {
  text-align: center;
}

.Player-advanced-stats th,
.Player-advanced-stats td {
  padding: 0 0.6vw !important;
}

.Player-advanced-stats table {
  margin-bottom: 2vw;
  margin-left: 3vw;
}
