body {
  margin: 0;
  padding: 0;
  font-color: black;
  background: green;
}

body, #root, .App, .Loading-display{
  width: 100% !important;
}

.Fixtures-container{
  width: calc(100% - 40px) !important;
}
