.App {
  text-align: center;
  font-color: black;
  font-size: 1.25vw;
}

.App .Report-matches-form * {
  font-size: 1.25vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Content-container {
  display: flex;
  flex-flow: row nowrap;
}

.Left-panel {
  width: 70%;
  padding: 0px 30px;
}

.Right-panel {
  width: 30%;
  height: fit-content;
  position: sticky;
  top: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.Reporting-panel-card,
.Match-history-card {
  background: #efefef;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Match-history-card {
  margin-top: 20px;
  margin-bottom: 10px;
}

.Division {
  margin: 40px 0;
}

.Loading-text {
  font-size: 24px;
}

.Attribution-text {
  font-size: 1.1vw;
  margin-bottom: 4px;
  color: #444;
}

.Attribution-text a {
  color: grey;
}
