.App {
  text-align: center;
  font-color: black;
  font-size: 1.15vw;
  position: relative;
}

.App .Report-matches-form * {
  font-size: 1.15vw;
}

.Nav-button {
  font-size: 1.3vw;
  display: inline-block;
  padding: 12px;
  background-color: #3c3c3c;
  color: white;
  border: none;
  font-size: 1.1vw;
  margin: 5px 10px 5px 0;
}

.Nav-button:hover {
  background-color: #6d6d6d;
}

.Nav-button:disabled {
  background-color: #888;
}

.Loading-display {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 100;
}

.Loading-background {
  background: #fdfdfd7a;
  width: 100%;
  height: 100%;
}

.Loading-spinner {
  position: fixed;
  width: 84px;
  height: 84px;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Loading-spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 12px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: Loading-spin 1.2s linear infinite;
}

@keyframes Loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Attribution-text {
  font-size: 1.1vw;
  margin-bottom: 4px;
  color: #444;
}

.Attribution-text a {
  color: grey;
}
