.Division table {
  background: lightblue;
  border-spacing: 0px;
  margin: 0px auto;
  text-align: center;
}

.Division th {
  font-weight: 500;
  background: #20325a;
  color: white !important;
}

.Division th,
td {
  padding: 8px 4px;
}

.Division td {
  text-transform: uppercase;
}

.Division-title {
  text-align: center;
}

.Extra-padding-left {
  padding-left: 10px;
}
