table {
  width: 480px;
  background: lightblue;
  border-spacing: 0px;
  margin: 0px auto;
}

th {
  font-weight: 500;
  background: #20325a;
  color: white !important;
}

th,
td {
  padding: 8px 12px;
  text-align: right;
}

td {
  text-transform: uppercase;
}

.Division-title {
  text-align: center;
}
