.Fixtures-container {
  padding: 20px;
  text-align: center;
}

.Fixtures-table {
  border-collapse: collapse;
  margin: 20px auto;
}

.Fixtures-table,
.Fixtures-table th,
.Fixtures-table td {
  padding: 3px 10px;
  width: 100%;
  height: 2.5vw; /* 2 lines of text @ 1.25 vw */
  table-layout: fixed;
}

.Division-header {
  background: #bbb;
  padding: 10px;
}

.Secondary-header {
  background: #ddd;
}

.Match-complete {
  background: #aae0aa;
}

.Match-incomplete {
  background: #f9a1a1;
}

.Match-invalid {
  background: "#eee";
}
