.Match-history {
  width: 100%;
  height: 100%;
  background: #efefef;
}

.Match-history-title {
  font-size: 1.4vw;
  height: 30px;
  line-height: 30px;
  padding: 10px;
  background: #85878c;
  color: white;
  box-shadow: 0 2px 4px -2px black;
}

.Reported-match {
  padding-right: 10px;
  position: relative;
  border: 1px solid #ccc;
  border-top: 0;
  text-align: left;
  flex-flow: row nowrap;
}

.Match-division {
  padding: 4px 8px;
  border-right: 1px solid #ccc;
}

.Match-text {
  flex: 1;
  padding: 4px;
}

.Match-date {
  font-size: 1vw;
  color: grey;
}

.Delete-match-button {
  margin: auto 0;
  top: 6px;
}

.Delete-match-button i {
  color: #929292;
  margin-right: 8px;
}

.Delete-match-button i:hover {
  color: #b7b7b7;
}

.Scrollable-list {
  overflow-y: scroll;
  height: 300px;
}

.Scrollable-list table {
  border-collapse: collapse;
  width: 100%;
}
