.Results-container {
  padding: 20px;
  text-align: center;
}

.Results-table tr:nth-child(even) {
  background-color: #e6e6e6;
}

.Results-table {
  border-collapse: collapse;
  margin: auto;
}

.Results-table,
.Results-table th,
.Results-table td {
  padding: 3px 10px;
}

.Results-header {
  background-color: #505050;
  color: white;
}
